<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Kendo UI Music Store</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/normalize.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Content/themes/base/kendo.mobile.all.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="wrapper">
        <header>
            <div class="container">
                <h1><a href="/">Awesome Sauce Music Store</a></h1>


                <section class="login-button">
                    @Html.Partial("_LoginPartial")
                </section>

                <nav>
                    <ul id="menu">
             
                        <li>Genres
                            <ul>
                                @{Html.RenderAction("GenreMenu", "Store");}
                            </ul>
                        </li>
                        <li>About
                            <ul>
                                <li>
                                    <div class="k-content menu-content">
                                        <img src="~/Images/kendo-logo.png" />
                                        <p>Try Kendo UI yourself in the interactive Kendo UI Dojo!</p>
                                        <p><a href="http://www.kendoui.com/dojo.aspx" target="_blank" class="k-button">Launch Kendo UI Dojo</a></p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
           
                <section class="cart-search">
                    <input id="main-search"/>
                    <ul id="cart-menu"></ul>
                </section>
            </div>
        </header>

        <div id="body">
            @RenderBody()
        </div>
    </div>
        <footer>
            <section class="container">
                <ul>
                    <li><a href="http://www.telerik.com"><img src="/content/images/telerik-logo.png" /></a></li>
                    <li><a href="http://www.kendoui.com"><img src="/images/kendo-logo.png" class="smallerlogo" /></a></li>
                </ul>
            </section>
        </footer>

        @Html.Partial("_AlbumDetailsTemplatePartial")
        @Html.Partial("_SearchResultTemplatePartial")

        <script src="~/Scripts/kendo.all.min.js"></script>
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
